
@{
    ViewBag.Title = "Перечень доступных для чтения книг";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-horizontal">
            <fieldset>
                <legend>@ViewBag.Title</legend>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Название книги</th>
                            <th>Автор</th>
                            <th>Тип использования</th>
                            <th>Время использования</th>
                        </tr>
                    </thead>
                    @*<tbody>
                        @foreach (var hike in (List<ShowHikeModel>)ViewBag.HikesList)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(hike.Name, "ShowHike", new { id = hike.Id }, null)
                                </td>
                                <td>@hike.HikeDate</td>
                                <td>@hike.Category</td>
                                <td>@hike.HikeType</td>
                            </tr>
                        }
                    </tbody>*@
                </table>
            </fieldset>
        </div>
    </div>
</div>
